<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- AppSettings basis for proxy -->
    <!-- CONFIGS -->
    <add key="RestServerUri" value="http://172.30.71.20:8090/REST/" />
    <add key="OAuthUsername" value="admin" />
    <add key="OAuthPassword" value="d41d8cd98f00b204e9800998ecf8427e" />
    <add key="robotName" value="[CT] Robot Crear Ticket Hijo" />
    <add key="nomEstado" value="[CT] Robot Crear Ticket Hijo" />
    <add key="robotGuid" value="fe376e77-0271-4272-b1cd-b5475a4217b8" />


  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>