################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BPO.PACIFICO/obj/Debug
/.vs/BPO.PACIFICO
/BPO.PACIFICO.PROCESAR.DATOS/obj/Debug
/BPO.PACIFICO.CREAR.TICKET/obj/Debug
/.vs/BPO.PACIFICO/v14
/BPO.PACIFCO.BUSCAR.POLIZA/obj/Debug
/BPO.PACIFICO.CREAR.TICKET/bin/Debug
/Robot.Util.Nacar/obj/Debug
/BPO.PACIFICO.PROCESAR.DATOS/bin/Debug
/Robot.Util.Nacar/bin/Debug
/BPO.PACIFICO/bin/Debug
/BPO.PACIFCO.BUSCAR.POLIZA/bin/Debug
/BPO.PACIFICO.NOTIFICACION.EMAIL/bin/Debug
/BPO.PACIFICO.NOTIFICACION.EMAIL/obj/Debug
/BPO.PACIFICO.REGISTRAR.ENVIAR.BPM/obj/Debug
/BPO.PACIFICO.ANULAR.POLIZA/obj/Debug
/packages
/BPO.PACIFICO.REGISTRAR.ENVIAR.BPM/bin/Debug
/BPO.PACIFICO.NOTIFICACION.EMAIL
