<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Robot.Util.Nacar.eesDomains" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Robot.Util.Nacar.eesFields" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Robot.Util.Nacar.causasErrores" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Robot.Util.Nacar.eesStateActions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Robot.Util.Nacar.eesFields" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Robot.Util.Nacar.eesDomains>
            <setting name="functional_assignment_rules" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lineas" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="forma_de_reembolso" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="palabras_claves" serializeAs="String">
                <value>1008</value>
            </setting>
            <setting name="procesos" serializeAs="String">
                <value>1012</value>
            </setting>
            <setting name="tipo_documento" serializeAs="String">
                <value>1015</value>
            </setting>
            <setting name="tipo_de_error" serializeAs="String">
                <value>1023</value>
            </setting>
            <setting name="motivo_de_anulacion" serializeAs="String">
                <value>1027</value>
            </setting>
            <setting name="solicitante" serializeAs="String">
                <value>1031</value>
            </setting>
            <setting name="motivo_rehabilitar" serializeAs="String">
                <value>1038</value>
            </setting>
            <setting name="tipo_de_contacto" serializeAs="String">
                <value>1042</value>
            </setting>
            <setting name="indicetabla_actualizacion_datos_persona" serializeAs="String">
                <value>1046</value>
            </setting>
            <setting name="tipo_documento_de_identificacion" serializeAs="String">
                <value>1051</value>
            </setting>
            <setting name="procesos_version_final" serializeAs="String">
                <value>1055</value>
            </setting>
            <setting name="lineas_version_final" serializeAs="String">
                <value>1062</value>
            </setting>
        </Robot.Util.Nacar.eesDomains>
        <Robot.Util.Nacar.eesFields>
            <setting name="asegurado_nombre" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="tipo_poliza" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="producto" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="vobo_producto" serializeAs="String">
                <value>1026</value>
            </setting>
            <setting name="email_fecha_hora" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="canal" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="agente" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="email_asunto" serializeAs="String">
                <value>41</value>
            </setting>
            <setting name="endoso_nro" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="num_solicitud_bcp" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="numero_cuotas" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="numero_de_credito" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="email_cuerpo" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="numero_de_poliza" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="id_est_hijo" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="id_est_padre" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="fields" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="endoso_adj" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="linea" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="tipo_proceso" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="email_de" serializeAs="String">
                <value>44</value>
            </setting>
            <setting name="email_cc" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="anulacion_solicitante" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="observacion" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="upload_file" serializeAs="String">
                <value>1042</value>
            </setting>
            <setting name="error_tipo" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="rehabilitar_motivo" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="forma_de_reembolso" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="email_para" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="nombre_s" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="apellido_materno" serializeAs="String">
                <value>97</value>
            </setting>
            <setting name="apellido_paterno" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="nacionalidad" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="nombre_corto" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="nombre_de_la_calle" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="tipo_de_calle" serializeAs="String">
                <value>86</value>
            </setting>
            <setting name="tipo_de_direccion" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="provincia" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="distrito" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="departamento" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="producto_tipo" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="tipoplantillaen" serializeAs="String">
                <value>1118</value>
            </setting>
            <setting name="poliza_nro" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="id_estado_retorno" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="reproceso_contador" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="poliza_est" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="poliza_fec_emision" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="poliza_tipo_vig" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="poliza_fec_ini_vig" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="poliza_fec_fin_vig" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="canal_org" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="canal_agente_cod" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="canal_agente" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="canal_cod" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="servicio_org" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="servicio_agente_cod" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="servicio_agente" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="servicio_canal_cod" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="servicio_canal" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="cuenta_nro" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="cuenta_nombre" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="flg_nuevo" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="siniestros" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="endosos" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="poliza_anu_motivo" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="listacampos" serializeAs="String">
                <value>103</value>
            </setting>
            <setting name="nro_ruc" serializeAs="String">
                <value>57</value>
            </setting>
            <setting name="id_archivo_tipo_adj" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="pais" serializeAs="String">
                <value>82</value>
            </setting>
            <setting name="pais_de_procedencia" serializeAs="String">
                <value>74</value>
            </setting>
            <setting name="pais_del_telefono" serializeAs="String">
                <value>78</value>
            </setting>
            <setting name="fecha_de_nacimiento" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="fecha_efectiva" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="numero" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="error_des" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="reglas_conforme" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="reglas_no_conforme" serializeAs="String">
                <value>34</value>
            </setting>
            <setting name="reglas_observacion" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="sector_economico" serializeAs="String">
                <value>106</value>
            </setting>
            <setting name="razon_social" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="actividad_economica" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="nombre_comercial" serializeAs="String">
                <value>76</value>
            </setting>
            <setting name="correo_personal" serializeAs="String">
                <value>77</value>
            </setting>
            <setting name="indicativo_codigo_de_area" serializeAs="String">
                <value>79</value>
            </setting>
            <setting name="telefono_de_casa" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="sexo" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="estado_civil" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="prefijo" serializeAs="String">
                <value>98</value>
            </setting>
            <setting name="fecha_de_inicio_de_actividades" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="fec_solicitud" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="anulacion_motivo" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="nro_dni" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="nombre_de_la_urbanizacion" serializeAs="String">
                <value>94</value>
            </setting>
            <setting name="error_imagen" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="error_otro" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="complejidad_tipo" serializeAs="String">
                <value>108</value>
            </setting>
            <setting name="endoso_motivo" serializeAs="String">
                <value>109</value>
            </setting>
            <setting name="comentarios_adicionales" serializeAs="String">
                <value>110</value>
            </setting>
        </Robot.Util.Nacar.eesFields>
        <Robot.Util.Nacar.causasErrores>
            <setting name="host_nacar" serializeAs="String">
                <value>40465</value>
            </setting>
            <setting name="lentidtud_scs" serializeAs="String">
                <value>40468</value>
            </setting>
            <setting name="indisponible_scs" serializeAs="String">
                <value>40471</value>
            </setting>
            <setting name="error_neuva_session_scs" serializeAs="String">
                <value>40474</value>
            </setting>
            <setting name="error_conexion_scs" serializeAs="String">
                <value>40477</value>
            </setting>
            <setting name="flujo_robot_defectuoso" serializeAs="String">
                <value>40480</value>
            </setting>
            <setting name="tratamiento_manual_urgencia" serializeAs="String">
                <value>40483</value>
            </setting>
            <setting name="defecto_expediente" serializeAs="String">
                <value>40486</value>
            </setting>
        </Robot.Util.Nacar.causasErrores>
        <add key="tipoUbicNA" value="13411" />
        <Robot.Util.Nacar.eesStateActions>
            <setting name="CAPTURA_EXPEDIENTE_PARA_PRESTAMOS_CONTROLLER_VERIFICACION" serializeAs="String">
                <value>1064</value>
            </setting>
            <setting name="PRESTAMOS_CONTROLLER_VERIFICACION_PARA_PRESTAMOS_CONSULTA_EQUIFAX" serializeAs="String">
                <value>1065</value>
            </setting>
            <setting name="PRESTAMOS_CONTROLLER_VERIFICACION_PARA_PRESTAMOS_ACTUALIZA_SCS" serializeAs="String">
                <value>1066</value>
            </setting>
            <setting name="PRESTAMOS_CONTROLLER_VERIFICACION_PARA_PRESTAMOS_CONTROLLER__APROBACIÓN_NACAR" serializeAs="String">
                <value>1067</value>
            </setting>
            <setting name="PRESTAMOS_CONSULTA_EQUIFAX_PARA_PRESTAMOS_CONTROLLER__APROBACIÓN_NACAR" serializeAs="String">
                <value>1068</value>
            </setting>
            <setting name="PRESTAMOS_CONTROLLER__APROBACIÓN_NACAR_PARA_PRESTAMOS_ACTUALIZA_SCS" serializeAs="String">
                <value>1069</value>
            </setting>
            <setting name="PRESTAMOS_CONSULTA_EQUIFAX_PARA_PRESTAMOS_MESA_DE_CONTROL" serializeAs="String">
                <value>1070</value>
            </setting>
            <setting name="PRESTAMOS_CONTROLLER__APROBACIÓN_NACAR_PARA_PRESTAMOS_MESA_DE_CONTROL" serializeAs="String">
                <value>1071</value>
            </setting>
            <setting name="PRESTAMOS_ACTUALIZA_SCS_PARA_PRESTAMOS_CONTROLLER_DEVUELTO" serializeAs="String">
                <value>1072</value>
            </setting>
            <setting name="PRESTAMOS_ACTUALIZA_SCS_PARA_ESTADO_RESPONSABLE_POR_EL_INFORME_DE_LOS_DATOS_CUADERNILLO_Y_SCORING_PARA_PRESTAMOS" serializeAs="String">
                <value>1073</value>
            </setting>
            <setting name="ESTADO_RESPONSABLE_POR_EL_INFORME_DE_LOS_DATOS_CUADERNILLO_Y_SCORING_PARA_PRESTAMOS_PARA_PRESTAMOS_FORMALIZACION_NACAR" serializeAs="String">
                <value>1074</value>
            </setting>
            <setting name="PRESTAMOS_FORMALIZACION_NACAR_PARA_PRESTAMOS_FORMALIZACION_ACTUALIZAR_SCS" serializeAs="String">
                <value>1075</value>
            </setting>
            <setting name="PRESTAMOS_FORMALIZACION_NACAR_PARA_PRESTAMOS_MESA_DE_CONTROL" serializeAs="String">
                <value>1076</value>
            </setting>
            <setting name="PRESTAMOS_FORMALIZACION_ACTUALIZAR_SCS_PARA_TICKETS_FINALIZADOS" serializeAs="String">
                <value>1077</value>
            </setting>
            <setting name="PRESTAMOS_FORMALIZACION_ACTUALIZAR_SCS_PARA_PRESTAMOS_MESA_DE_CONTROL" serializeAs="String">
                <value>1078</value>
            </setting>
            <setting name="PRESTAMOS_ACTUALIZA_SCS_PARA_PRESTAMOS_MESA_DE_CONTROL" serializeAs="String">
                <value>1079</value>
            </setting>
            <setting name="TARJETA_CAPTURA_EXPEDIENTE_PARA_TARJETA_CONTROLLER_VERIFICACIÓN" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="TARJETA_CONTROLLER_VERIFICACIÓN_PARA_TARJETA_CONTROLLER_CONSULTA_EQUIFAX" serializeAs="String">
                <value>1081</value>
            </setting>
            <setting name="TARJETA_CONTROLLER_VERIFICACIÓN_PARA_TARJETA_CONTROLLER_APROBACIÓN_NACAR" serializeAs="String">
                <value>1082</value>
            </setting>
            <setting name="TARJETA_CONTROLLER_VERIFICACIÓN_PARA_TARJETA_CONTROLLER_ACTUALIZA_SCS" serializeAs="String">
                <value>1083</value>
            </setting>
            <setting name="TARJETA_CONTROLLER_CONSULTA_EQUIFAX_PARA_TARJETA_CONTROLLER_APROBACIÓN_NACAR" serializeAs="String">
                <value>1084</value>
            </setting>
            <setting name="TARJETA_CONTROLLER_CONSULTA_EQUIFAX_PARA_TARJETA_MESA_DE_CONTROL" serializeAs="String">
                <value>1085</value>
            </setting>
            <setting name="TARJETA_CONTROLLER_ACTUALIZA_SCS_PARA_TARJETA_CONTROLLER_DEVUELTO" serializeAs="String">
                <value>1086</value>
            </setting>
            <setting name="TARJETA_CONTROLLER_ACTUALIZA_SCS_PARA_TARJETA_FORMALIZACION_INFORMA_DATOS_CUADERNILO_Y_SCORING" serializeAs="String">
                <value>1087</value>
            </setting>
            <setting name="TARJETA_CONTROLLER_ACTUALIZA_SCS_PARA_TARJETA_MESA_DE_CONTROL" serializeAs="String">
                <value>1088</value>
            </setting>
            <setting name="TARJETA_CONTROLLER_APROBACIÓN_NACAR_PARA_TARJETA_CONTROLLER_ACTUALIZA_SCS" serializeAs="String">
                <value>1089</value>
            </setting>
            <setting name="TARJETA_CONTROLLER_APROBACIÓN_NACAR_PARA_TARJETA_MESA_DE_CONTROL" serializeAs="String">
                <value>1090</value>
            </setting>
            <setting name="TARJETA_FORMALIZACION_INFORMA_DATOS_CUADERNILO_Y_SCORING_PARA_TARJETA_FORMALIZACION_NACAR" serializeAs="String">
                <value>1091</value>
            </setting>
            <setting name="TARJETA_FORMALIZACION_NACAR_PARA_TARJETA_FORMALIZACION_ACTUALIZAR_SCS" serializeAs="String">
                <value>1092</value>
            </setting>
            <setting name="TARJETA_FORMALIZACION_NACAR_PARA_TARJETA_MESA_DE_CONTROL" serializeAs="String">
                <value>1093</value>
            </setting>
            <setting name="TARJETA_FORMALIZACION_ACTUALIZAR_SCS_PARA_TARJETA_FINALIZADO" serializeAs="String">
                <value>1094</value>
            </setting>
            <setting name="TARJETA_FORMALIZACION_ACTUALIZAR_SCS_PARA_TARJETA_MESA_DE_CONTROL" serializeAs="String">
                <value>1095</value>
            </setting>
            <setting name="PRESTAMOS_CONSULTA_EQUIFAX_PARA_PRESTAMOS_ACTUALIZA_SCS" serializeAs="String">
                <value>1096</value>
            </setting>
            <setting name="TARJETA_CONTROLLER_CONSULTA_EQUIFAX_PARA_TARJETA_CONTROLLER_ACTUALIZA_SCS" serializeAs="String">
                <value>1097</value>
            </setting>
            <setting name="TARJETA_MESA_VALIDA_RIESGO_CONJUGUE_PARA_TARJETA_MESA_ATUALIZA_SCS" serializeAs="String">
                <value>1104</value>
            </setting>
            <setting name="TARJETA_MESA_VALIDA_RIESGO_CONJUGUE_PARA_MESA_MESA_DE_CORRECAO" serializeAs="String">
                <value>1108</value>
            </setting>
            <setting name="PRESTAMO_MESA_VALIDA_RIESGO_CONJUGUE_PARA_PRESTAMO_MESA_ATUALIZA_SCS" serializeAs="String">
                <value>1123</value>
            </setting>
            <setting name="PRESTAMO_MESA_VALIDA_RIESGO_CONJUGUE_PARA_MESA_MESA_DE_CORRECAO" serializeAs="String">
                <value>1124</value>
            </setting>
            <setting name="VALIDACION_3270_TARJETA_PARA_VENTANA_VALIDACION_TARJETA" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="VALIDACION_3270_TARJETA_PARRA_VENTANA_CORRECION_MESA_CONTROL" serializeAs="String">
                <value>1099</value>
            </setting>
            <setting name="ROBOT_CAPTURA_DE_PAGOS_TARJETA_PARA_EVALUAR_DATOS_SCS_TARJETAS" serializeAs="String">
                <value>1152</value>
            </setting>
            <setting name="ROBOT_CAPTURA_DE_PAGOS_TARJETA_PARA_MESA_DE_CORRECCION_TARJETAS" serializeAs="String">
                <value>1153</value>
            </setting>
            <setting name="ROBOT_CAPTURA_DE_PAGOS_PRESTAMO_PARA_EVALUAR_DATOS_SCS_PRESTAMOS" serializeAs="String">
                <value>1151</value>
            </setting>
            <setting name="ROBOT_CAPTURA_DE_PAGOS_PRESTAMO_PARA_MESA_DE_CORRECCION_PRESTAMOS" serializeAs="String">
                <value>1243</value>
            </setting>
            <setting name="MC_TARJETA_DEVUELTO_PARA_VALID_3270" serializeAs="String">
                <value>1322</value>
            </setting>
            <setting name="MC_TARJETA_CAPT_EXP_PARA_MESA_CORRECCION" serializeAs="String">
                <value>1314</value>
            </setting>
            <setting name="MC_PRESTAMO_DEVUELTO_PARA_VALID_3270" serializeAs="String">
                <value>1321</value>
            </setting>
            <setting name="MC_PRESTAMO_CAPT_EXP_PARA_MESA_CORRECCION" serializeAs="String">
                <value>1315</value>
            </setting>
        </Robot.Util.Nacar.eesStateActions>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.16.0.0" newVersion="6.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.16.0.0" newVersion="6.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.16.0.0" newVersion="6.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Robot.Util.Nacar.eesFields>
      <setting name="referencia" serializeAs="String">
        <value>73</value>
      </setting>
    </Robot.Util.Nacar.eesFields>
  </userSettings>
</configuration>