<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RestServerUri" value="http://172.30.71.20:8095/EES4.REST.TRM/" />
    <add key="OAuthUsername" value="admin" />
    <add key="OAuthPassword" value="d41d8cd98f00b204e9800998ecf8427e" />
    <!--Guid to reference robot-->
    <add key="robotGuid" value="192681bd-84ff-4973-a6df-16880f5a1514" />
    <add key="robotName" value="Robot Name" />
    <add key="nomEstado" value="State Name" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
