<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- AppSettings basis for proxy -->
    <!-- CONFIGS -->
    <add key="RestServerUri" value="http://172.30.71.83:8095/EES4.REST.TRM/" />
    <add key="OAuthUsername" value="admin" />
    <add key="OAuthPassword" value="d41d8cd98f00b204e9800998ecf8427e" />
    <!--Guid to reference robot-->
    <add key="robotGuid" value="671bae9a-4529-471e-a71e-0ca1a0f0d73c" />
    <add key="robotName" value="Robot Name" />
    <add key="nomEstado" value="State Name" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Other-->
    <add key="ExecutionWithDetailedLogging" value="false" />
    <add key="ShowWindow" value="true" />
  </appSettings>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>