<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- AppSettings basis for proxy -->
    <!-- CONFIGS -->
    <!--<add key="RestServerUri" value="http://172.30.71.77:8095/EES4.REST.TRM/"/>-->
    <add key="RestServerUri" value="http://10.232.100.125:8095/REST/" />
    <add key="OAuthUsername" value="admin" />
    <add key="OAuthPassword" value="d41d8cd98f00b204e9800998ecf8427e" />
    <add key="robotGuid" value="ad9ac99a-7c3e-4602-9268-66583adb93f1" />
    <add key="robotName" value="[CE] Robot Capturar Email" />
    <add key="nomEstado" value="[CE] Robot Capturar Email" />


  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>