<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="everis.Ees.Proxy" version="2018.1.0.5" targetFramework="net462" />
  <package id="Google.Apis" version="1.34.0" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.34.0" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.34.0" targetFramework="net462" />
  <package id="Google.Apis.Gmail.v1" version="1.34.0.1223" targetFramework="net462" />
  <package id="Microsoft.OData.Client" version="6.18.0" targetFramework="net462" />
  <package id="Microsoft.OData.Core" version="6.18.0" targetFramework="net462" />
  <package id="Microsoft.OData.Edm" version="6.18.0" targetFramework="net462" />
  <package id="Microsoft.Spatial" version="6.18.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
</packages>