<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>

    <add key="RestServerUri" value="http://localhost:8090/EES_REST_2018_1/"/>
    <add key="OAuthUsername" value="admin"/>
    <add key="OAuthPassword" value="d41d8cd98f00b204e9800998ecf8427e"/>
    <add key="robotName" value="[AP] Robot Procesamiento Datos"/>
    <add key="nomEstado" value="[AP] Robot Procesamiento Datos"/>
    <add key="robotGuid" value="5ce4ea5d-d605-4d27-a404-aec34bb7524d"/>
  </appSettings>
</configuration>
