<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RestServerUri" value="http://10.232.100.125:8095/REST/" />
    <add key="OAuthUsername" value="admin" />
    <add key="OAuthPassword" value="d41d8cd98f00b204e9800998ecf8427e" />
    <!--Guid to reference robot-->
    <add key="robotGuid" value="2029bc4d-475c-4787-a7be-8547d89ce7fd" />
    <add key="robotName" value="Robot Name" />
    <add key="nomEstado" value="State Name" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>