<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RestServerUri" value="http://localhost:8095/EES4.REST.TRM/" />
    <add key="OAuthUsername" value="admin" />
    <add key="OAuthPassword" value="d41d8cd98f00b204e9800998ecf8427e" />
    <!--Guid to reference robot-->
    <add key="robotGuid" value="99219fb5-426b-4fe5-b5f5-c3d1c0e7a785" />
    <add key="robotName" value="Robot Name" />
    <add key="nomEstado" value="State Name" />
    <!--PARAMETROS-->
    <add key="Url" value="https://psgdwuat0100.ppstst.com.pe:7003/pc/PolicyCenter.do" />
    <add key="Usuario" value="e03549" />
    <add key="Contraseña" value="jN8kI0lP" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.19.0.11114" newVersion="6.19.0.11114" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.19.0.11114" newVersion="6.19.0.11114" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.19.0.11114" newVersion="6.19.0.11114" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>