<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RestServerUri" value="http://172.30.71.20:8090/REST/" />
    <add key="OAuthUsername" value="admin" />
    <add key="OAuthPassword" value="d41d8cd98f00b204e9800998ecf8427e" />
    <!--Guid to reference robot-->
    <add key="robotGuid" value="eb44cb65-1502-4b66-854d-8dacb62455e7" />
    <add key="robotName" value="[AC] Robot Actualizar Datos del Cliente" />
    <add key="nomEstado" value="[AC] Robot Actualizar Datos del Cliente" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>